AMO_ACCESS_TOKEN=

# AmoCRM API
AMO_BASE_URL=
ALLOWED_ORIGINS=

# Telegram fields in contact
AMO_CONTACT_FIELD_TG_ID=
AMO_CONTACT_FIELD_TG_USERNAME=
AMO_CONTACT_FIELD_TG_NAME=

# Existing fields
AMO_LEAD_FIELD_SUBJECTS=
AMO_LEAD_FIELD_DIRECTION=
AMO_LEAD_FIELD_PURCHASE_COUNT=

# Поля сделки - Оплата
# Сумма последней оплаты
# Статус оплаты
# Дата/время последней оплаты
AMO_LEAD_FIELD_LAST_PAYMENT_AMOUNT=
AMO_LEAD_FIELD_PAYMENT_STATUS=
AMO_LEAD_FIELD_LAST_PAYMENT_DATE=
AMO_LEAD_FIELD_PAYMENT_ID=

# Основные UTM
AMO_LEAD_FIELD_UTM_SOURCE=
AMO_LEAD_FIELD_UTM_MEDIUM=
AMO_LEAD_FIELD_UTM_CAMPAIGN=
AMO_LEAD_FIELD_UTM_CONTENT=
AMO_LEAD_FIELD_UTM_TERM=
AMO_LEAD_FIELD_YM_UID=

# Purchase count enum values (1-10)
AMO_PURCHASE_COUNT_1=
AMO_PURCHASE_COUNT_2=
AMO_PURCHASE_COUNT_3=
AMO_PURCHASE_COUNT_4=
AMO_PURCHASE_COUNT_5=
AMO_PURCHASE_COUNT_6=
AMO_PURCHASE_COUNT_7=
AMO_PURCHASE_COUNT_8=
AMO_PURCHASE_COUNT_9=
AMO_PURCHASE_COUNT_10=

AMO_SUBJECT_OBSHCHESTVO=
AMO_SUBJECT_ENGLISH=
AMO_SUBJECT_HISTORY=
AMO_SUBJECT_RUSSIAN=
AMO_SUBJECT_PHYSICS=
AMO_SUBJECT_CHEMISTRY=
AMO_SUBJECT_LITERATURE=
AMO_SUBJECT_MATH_PROF_MASHA=
AMO_SUBJECT_MATH_BASE=
AMO_SUBJECT_BIOLOGY_ZHENYA=
AMO_SUBJECT_BIOLOGY_GELYA=
AMO_SUBJECT_INFORMATICS=
AMO_SUBJECT_MATH_PROF_SASHA=

AMO_DIRECTION_OGE=
AMO_DIRECTION_EGE=

# Target pipeline for creating new leads
AMO_PIPELINE_ID=

# Default status when creating new lead (Автооплаты)
AMO_DEFAULT_STATUS_ID=

AMO_PIPELINE_SITE=
AMO_PIPELINE_PARTNERS=
AMO_PIPELINE_YANDEX=

# Статусы сделок (общие для всех воронок)
STATUS_SUCCESS=
STATUS_CLOSED=

# Статусы "Автооплаты ООО" для каждой воронки
AMO_STATUS_AUTOPAY_SITE=
AMO_STATUS_AUTOPAY_YANDEX=
AMO_STATUS_AUTOPAY_PARTNERS=

# UTM правила для определения воронки
PARTNER_SOURCES=
YANDEX_MEDIUMS=



# Create contact/lead if not found (True/False)
CREATE_IF_NOT_FOUND=True


RETRY_MAX_ATTEMPTS=3
RETRY_WAIT_MIN=2
RETRY_WAIT_MAX=10

LOG_LEVEL=INFO

# тот_ключ_который_скинут_коллеги_12345abcdef
WEBHOOK_SECRET=fba089e027a98c7
