[Unit]
Description=Запуск очистки БД каждый день в 3:00

[Timer]
OnCalendar=daily
OnCalendar=*-*-* 03:00:00
Persistent=true

[Install]
WantedBy=timers.target
